$icomoon-font-path: "fonts" !default;

$mapgis-icon-close: "\e600";
$mapgis-icon-drag-horizontal: "\e601";
$mapgis-icon-drag-vertical: "\e602";
$mapgis-icon-handle-horizontal: "\e603";
$mapgis-icon-handle-vertical: "\e604";
$mapgis-icon-check-mark: "\e605";
$mapgis-icon-left-triangle-arrow: "\e606";
$mapgis-icon-right-triangle-arrow: "\e607";
$mapgis-icon-down-arrow: "\e608";
$mapgis-icon-up-arrow: "\e609";
$mapgis-icon-overview-arrow-bottom-left: "\e60a";
$mapgis-icon-overview-arrow-bottom-right: "\e60b";
$mapgis-icon-overview-arrow-top-left: "\e60c";
$mapgis-icon-overview-arrow-top-right: "\e60d";
$mapgis-icon-maximize: "\e60e";
$mapgis-icon-minimize: "\e60f";
$mapgis-icon-checkbox-unchecked: "\e610";
$mapgis-icon-checkbox-checked: "\e611";
$mapgis-icon-radio-unchecked: "\e612";
$mapgis-icon-radio-checked: "\e613";
$mapgis-icon-up-arrow-circled: "\e614";
$mapgis-icon-down-arrow-circled: "\e615";
$mapgis-icon-left-arrow-circled: "\e616";
$mapgis-icon-right-arrow-circled: "\e617";
$mapgis-icon-zoom-out-fixed: "\e618";
$mapgis-icon-zoom-in-fixed: "\e619";
$mapgis-icon-refresh: "\e61a";
$mapgis-icon-edit: "\e61b";
$mapgis-icon-authorize: "\e61c";
$mapgis-icon-map-pin: "\e61d";
$mapgis-icon-blank-map-pin: "\e61e";
$mapgis-icon-table: "\e61f";
$mapgis-icon-plus: "\e620";
$mapgis-icon-minus: "\e621";
$mapgis-icon-beginning: "\e622";
$mapgis-icon-reverse: "\e623";
$mapgis-icon-pause: "\e624";
$mapgis-icon-play: "\e625";
$mapgis-icon-forward: "\e626";
$mapgis-icon-end: "\e627";
$mapgis-icon-erase: "\e628";
$mapgis-icon-up-down-arrows: "\e629";
$mapgis-icon-left: "\e62a";
$mapgis-icon-right: "\e62b";
$mapgis-icon-announcement: "\e62c";
$mapgis-icon-notice-round: "\e62d";
$mapgis-icon-notice-triangle: "\e62e";
$mapgis-icon-home: "\e62f";
$mapgis-icon-locate: "\e630";
$mapgis-icon-expand: "\e631";
$mapgis-icon-collapse: "\e632";
$mapgis-icon-layer-list: "\e633";
$mapgis-icon-basemap: "\e634";
$mapgis-icon-globe: "\e635";
$mapgis-icon-applications: "\e636";
$mapgis-icon-arrow-up-circled: "\e637";
$mapgis-icon-arrow-down-circled: "\e638";
$mapgis-icon-arrow-left-circled: "\e639";
$mapgis-icon-arrow-right-circled: "\e63a";
$mapgis-icon-minus-circled: "\e63b";
$mapgis-icon-plus-circled: "\e63c";
$mapgis-icon-add-attachment: "\e63d";
$mapgis-icon-attachment: "\e63e";
$mapgis-icon-calendar: "\e63f";
$mapgis-icon-close-circled: "\e640";
$mapgis-icon-browser: "\e641";
$mapgis-icon-collection: "\e642";
$mapgis-icon-comment: "\e643";
$mapgis-icon-configure-popup: "\e644";
$mapgis-icon-contact: "\e645";
$mapgis-icon-dashboard: "\e646";
$mapgis-icon-deny: "\e647";
$mapgis-icon-description: "\e648";
$mapgis-icon-directions: "\e649";
$mapgis-icon-directions2: "\e64a";
$mapgis-icon-documentation: "\e64b";
$mapgis-icon-duplicate: "\e64c";
$mapgis-icon-review: "\e64d";
$mapgis-icon-environment-settings: "\e64e";
$mapgis-icon-error: "\e64f";
$mapgis-icon-error2: "\e650";
$mapgis-icon-experimental: "\e651";
$mapgis-icon-feature-layer: "\e652";
$mapgis-icon-filter: "\e653";
$mapgis-icon-grant: "\e654";
$mapgis-icon-group: "\e655";
$mapgis-icon-key: "\e656";
$mapgis-icon-labels: "\e657";
$mapgis-icon-tag: "\e658";
$mapgis-icon-layers: "\e659";
$mapgis-icon-left-arrow: "\e65a";
$mapgis-icon-right-arrow: "\e65b";
$mapgis-icon-link-external: "\e65c";
$mapgis-icon-link: "\e65d";
$mapgis-icon-loading-indicator: "\e65e";
$mapgis-icon-maps: "\e65f";
$mapgis-icon-marketplace: "\e660";
$mapgis-icon-media: "\e661";
$mapgis-icon-media2: "\e662";
$mapgis-icon-menu: "\e663";
$mapgis-icon-mobile: "\e664";
$mapgis-icon-phone: "\e665";
$mapgis-icon-navigation: "\e666";
$mapgis-icon-pan: "\e667";
$mapgis-icon-printer: "\e668";
$mapgis-icon-pie-chart: "\e669";
$mapgis-icon-chart: "\e66a";
$mapgis-icon-line-chart: "\e66b";
$mapgis-icon-question: "\e66c";
$mapgis-icon-resend-invitation: "\e66d";
$mapgis-icon-rotate: "\e66e";
$mapgis-icon-save: "\e66f";
$mapgis-icon-settings: "\e670";
$mapgis-icon-settings2: "\e671";
$mapgis-icon-share: "\e672";
$mapgis-icon-sign-out: "\e673";
$mapgis-icon-support: "\e674";
$mapgis-icon-user: "\e675";
$mapgis-icon-time-clock: "\e676";
$mapgis-icon-trash: "\e677";
$mapgis-icon-upload: "\e678";
$mapgis-icon-download: "\e679";
$mapgis-icon-zoom-in-magnifying-glass: "\e67a";
$mapgis-icon-search: "\e67b";
$mapgis-icon-zoom-out-magnifying-glass: "\e67c";
$mapgis-icon-locked: "\e67d";
$mapgis-icon-unlocked: "\e67e";
$mapgis-icon-favorites: "\e67f";
$mapgis-icon-compass: "\e680";
$mapgis-icon-down: "\e681";
$mapgis-icon-up: "\e682";
$mapgis-icon-chat: "\e683";
$mapgis-icon-dock-bottom: "\e684";
$mapgis-icon-dock-left: "\e685";
$mapgis-icon-dock-right: "\e686";
$mapgis-icon-organization: "\e687";
$mapgis-icon-north-navigation: "\e688";
$mapgis-icon-locate-circled: "\e689";
$mapgis-icon-dial: "\e68a";
$mapgis-icon-polygon: "\e68b";
$mapgis-icon-polyline: "\e68c";
$mapgis-icon-visible: "\e68d";
$mapgis-icon-non-visible: "\e68e";
$mapgis-icon-link-vertical: "\e68f";
$mapgis-icon-unlocked-link-vertical: "\e690";
$mapgis-icon-link-horizontal: "\e691";
$mapgis-icon-unlocked-link-horizontal: "\e692";
$mapgis-icon-swap: "\e693";
$mapgis-icon-cta-link-external: "\e694";
$mapgis-icon-reply: "\e695";
$mapgis-icon-public: "\e696";
$mapgis-icon-share2: "\e697";
$mapgis-icon-launch-link-external: "\e698";
$mapgis-icon-rotate-back: "\e699";
$mapgis-icon-pan2: "\e69a";
$mapgis-icon-tracking: "\e69b";
$mapgis-icon-expand2: "\e69c";
$mapgis-icon-arrow-down: "\e69d";
$mapgis-icon-arrow-up: "\e69e";
$mapgis-icon-hollow-eye: "\e69f";
$mapgis-icon-play-circled: "\e6a0";
$mapgis-icon-volume-off: "\e6a1";
$mapgis-icon-volume-on: "\e6a2";

