{
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "style": true
        }],
        "syntax-dynamic-import",
        "transform-class-properties", [
            "transform-runtime", {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}