:global(#app) {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 1000px;
}

.header {
    line-height: 46px;
    height: 46px;
    background: #002140;
}


.headerTitle {
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
}
.logo{
    width:155xp;
    height:30px;
    padding-right: 30px;
}

.layout {
    height: 100%;
}

.content {
    position: relative;
}

.main{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}