:global(.mapgis-view .mapgis-view-surface--inset-outline:focus::after) {
    outline: none!important
}

:global(#viewDiv) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}