@mixin expand() {
  .mapgis-expand {
    overflow: visible;
  }

  .mapgis-expand__container {
    position: relative;
    transition: 300ms;
  }

  .mapgis-expand__content {
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 1;
    margin: 0 floor($side_spacing * 0.25);
    @include defaultBoxShadow();
    transition: opacity 250ms ease-in-out, margin 250ms ease-in-out;
    overflow: hidden;
  }

  .mapgis-ui-top-left .mapgis-expand__content,
  .mapgis-ui-bottom-left .mapgis-expand__content {
    left: 100%;
  }

  .mapgis-ui-top-right .mapgis-expand__content,
  .mapgis-ui-bottom-right .mapgis-expand__content {
    right: 100%;
  }

  .mapgis-ui-top-left .mapgis-expand__content,
  .mapgis-ui-top-right .mapgis-expand__content {
    top: 0;
  }

  .mapgis-ui-bottom-left .mapgis-expand__content,
  .mapgis-ui-bottom-right .mapgis-expand__content {
    bottom: 0;
  }

  .mapgis-ui-top-left .mapgis-icon-expand,
  .mapgis-ui-bottom-left .mapgis-icon-expand,
  .mapgis-ui-top-left .mapgis-icon-collapse,
  .mapgis-ui-bottom-left .mapgis-icon-collapse {
    transform: rotate(180deg);
  }

  .mapgis-expand__content--expanded {
    opacity: 1;
    width: auto;
    height: auto;
    overflow: visible;
    margin-left: floor($side_spacing * 0.7);
    margin-right: floor($side_spacing * 0.7);
  }

  .mapgis-expand__content .mapgis-widget {
    box-shadow: none;
  }

  .mapgis-expand__icon-number {
    position: absolute;
    top: floor($button_height/6) * -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text_size_small;
    line-height: 1em;
    padding: 0.125em 0.333em;
    height: floor($button_height/2);
    border-radius: floor($button_height/2);
    background-color: $button_text_color;
    color: $background_color;
    transform-origin: 50%;
    animation: expand-number-intro-ani 1000ms ease-in-out;
  }

  .mapgis-ui-top-left .mapgis-expand__icon-number,
  .mapgis-ui-bottom-left .mapgis-expand__icon-number {
    right: floor($button_width/5) * -1;
  }

  .mapgis-ui-top-right .mapgis-expand__icon-number,
  .mapgis-ui-bottom-right .mapgis-expand__icon-number {
    left: floor($button_width/5) * -1;
  }

  .mapgis-ui-bottom-right .mapgis-expand__icon-number--expanded,
  .mapgis-ui-top-right .mapgis-expand__icon-number--expanded,
  .mapgis-ui-bottom-left .mapgis-expand__icon-number--expanded,
  .mapgis-ui-top-left .mapgis-expand__icon-number--expanded {
    position: static;
    top: auto;
    left: auto;
    right: auto;
  }

  .mapgis-expand__icon-number--expanded {
    display: none;
  }

  @mixin expandPanelOpen($modeClass) {
    .#{$modeClass} {
      .mapgis-widget {
        max-width: 100%;
        width: 100%;
      }

      .mapgis-expand__container--expanded {
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        height: 100%;
        background: $background_color;
        z-index: 1;
        overflow: auto;

        .mapgis-expand__panel {
          display: flex;
          justify-content: space-between;
          padding: 1.023rem;
          align-items: center;

          .mapgis-expand__icon-number--expanded {
            display: block;
          }
        }
      }

      .mapgis-expand__mask--expanded {
        background-color: #000;
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        opacity: 0.8;
        z-index: 1;
      }
    }

    .mapgis-ui-top-right,
    .mapgis-ui-bottom-right {
      .#{$modeClass} {
        .mapgis-expand__panel {
          flex-flow: row nowrap;
        }

        .mapgis-expand__container--expanded {
          width: 75%;
          max-width: $panel_width;
          animation: expand-slide-rtl-ani 300ms forwards;
        }
      }
    }

    .mapgis-ui-top-left,
    .mapgis-ui-bottom-left {
      #{$modeClass} {
        .mapgis-expand__panel {
          flex-flow: row-reverse nowrap;
        }

        .mapgis-expand__container--expanded {
          width: 75%;
          max-width: $panel_width;
          animation: expand-slide-ltr-ani 300ms forwards;
        }
      }
    }
  }


// Max heights
.mapgis-view-height-greater-than-medium {
  .mapgis-ui-corner .mapgis-component .mapgis-expand__content {
    max-height: $gt_medium_height;
  }
}
.mapgis-view-height-medium {
  .mapgis-ui-corner .mapgis-component .mapgis-expand__content {
    max-height: $medium_height;
  }
}
.mapgis-view-height-small {
  .mapgis-ui-corner .mapgis-component .mapgis-expand__content {
    max-height: $small_height;
  }
}
.mapgis-view-height-xsmall {
  .mapgis-ui-corner .mapgis-component .mapgis-expand__content {
    max-height: $xsmall_height;
  }
}

  @mixin expandPanelClosed($modeClass) {
    .#{$modeClass} {
      .mapgis-expand__content {
        position: absolute;
      }

      .mapgis-expand__mask,
      .mapgis-expand__content-panel {
        display: none;
      }
    }
  }

  @include expandPanelOpen("mapgis-expand--drawer");

  .mapgis-view-width-xsmall {
    @include expandPanelOpen("mapgis-expand--auto");
  }

  @include expandPanelClosed("mapgis-expand--floating");

  .mapgis-view-width-greater-than-xsmall {
    @include expandPanelClosed("mapgis-expand--auto");
  }

  @keyframes expand-slide-rtl-ani {
    from {
      right: -600px;
    }
    to {
      right: 0;
    }
  }

  @keyframes expand-slide-ltr-ani {
    from {
      left: -600px;
    }
    to {
      left: 0;
    }
  }

  @keyframes expand-number-intro-ani {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
}

@if $include_Expand==true {
  @include expand();
}
